<% include templates/header.ejs %>
<% include templates/sidebar.ejs %>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Advertiser</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <i class="fas fa-table"></i> Globpage
                  </div>
                  <div class="col-md-2">
                    <a href="/post_globpage" class="btn btn-info btn-block" title="Plan">POST ADD</a>
                  </div>
            </div>
        </div>
    </div>
    <!-- <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> Category</th>
                        <th> Name </th>
                        <th> Phone Number</th>
                        <th> Email</th>
                        <th> Location</th>
                        <th> Type of space </th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> Category</th>
                        <th> Name </th>
                        <th> Phone Number</th>
                        <th> Email</th>
                        <th> Location</th>
                        <th> Type of space </th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div> -->
</div>


Under development !!
<!-- Footer -->
<% include templates/footer.ejs %> 