<!-- Header -->
<% include templates/header.ejs %>
<!-- Sidebar -->
<% include templates/sidebar.ejs %>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home"></i>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Boats</li>
    </ol>
    <h3 class="box-title">Add Boats details</h3>
    <form action="/post_boats" method="post" enctype="multipart/form-data">
        <div class="row clearfix">
            <div class="col-md-9">
                <div class="pro-section">
                    <h6 class="user-title">Content</h6>
                    <div class="user-body">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <!-- <label><h6>Category</h6></label> -->
                                <input type="text" name="category" id="category"  value="boats" class="form-control" hidden>
                                <div class="form-group">
                                    <label><h6>Name</h6></label>
                                    <input type="text" name="name" id="name" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label><h6>Keywords</h6></label>
                                    <input type="text" name="keywords" id="keywords" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label><h6>Address</h6></label>
                                    <textarea class="form-control" rows="4" name="address" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><h6>Email</h6></label>
                                    <input type="text" name="email" id="email" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label><h6>Mobile</h6></label>
                                    <input type="text" name="mobile" id="mobile" maxlength="10" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label><h6>Description</h6></label>
                                    <textarea class="form-control" rows="4" name="description" required ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-section">
                    <h6 class="user-title">Features</h6>
                    <div class="user-body">
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Make</h6></label>
                                    <input type="text" name="make" id="make" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Model</h6></label>
                                    <input type="text" name="model" id="model" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>currency</h6></label>
                                    <input type="text" id="currency" name="currency" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Price</h6></label>
                                    <input type="text" id="price" name="price" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Year</h6></label>
                                    <input type="text" id="year" name="year" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Length</h6></label>
                                    <input type="text" id="length" name="length" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Width</h6></label>
                                    <input type="text" id="width" name="width" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Depth</h6></label>
                                    <input type="text" id="depth" name="depth" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Boat Type</h6></label>
                                    <input type="text" id="boat_type" name="boat_type" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Power</h6></label>
                                    <input type="text" id="power" name="power" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Fuel</h6></label>
                                    <input type="text" id="fuel" name="fuel" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Water capacity</h6></label>
                                    <input type="text" id="water_capacity" name="water_capacity" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>No. of Bedroom</h6></label>
                                    <input type="text" id="no_of_bedrooms" name="no_of_bedrooms" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>No. of Bathroom</h6></label>
                                    <input type="text" id="no_of_bathrooms" name="no_of_bathrooms" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Engine hours</h6></label>
                                    <input type="text" id="engine_hours" name="engine_hours" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Type of Engine</h6></label>
                                    <input type="text" id="engine_type" name="engine_type" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>No. of Engines</h6></label>
                                    <input type="text" id="no_of_engines" name="no_of_engines" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Hull material</h6></label>
                                    <input type="text" id="hull_material" name="hull_material" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Color hull</h6></label>
                                    <input type="text" id="color_hull" name="color_hull" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><h6>Location</h6></label>
                                    <input type="text" id="location" name="location" required class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="pro-section">
                    <h6 class="user-title">Display Contact Details</h6>
                    <div class="user-body">
                        <input type="checkbox" name="display" value="mobile">&nbsp;&nbsp;<label>Mobile Number</label><br>
                        <input type="checkbox" name="display" value="email">&nbsp;&nbsp;<label>Email ID</label><br>
                        <input type="checkbox" name="display" value="address">&nbsp;&nbsp;<label>Address</label><br>
                        <input type="checkbox" name="display" value="location">&nbsp;&nbsp;<label>Location</label><br>
                    </div>
                </div>
                <div class="pro-section">
                    <h6 class="user-title">Image</h6>
                    <div class="user-body">
                        <div class=" upload_section">
                            <img src="/images/up_image.jpg" class="img-fluid">
                            <div class="upload_button">
                                <div class="vfile">
                                    <div class="text-center">
                                        <input type="file" name="video" id="video" required class="inputfile inputfile-1">
                                        <label for="video"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span>Upload Video</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-section">
                    <h6 class="user-title">VAT payed</h6>
                    <div class="user-body">
                        <div class="form-group">
                            <input type="radio" name="vat_payed">&nbsp;&nbsp;Company<br>
                            <input type="radio" name="vat_payed">&nbsp;&nbsp;Individual
                        </div>
                    </div>
                </div>
                <div class="pro-section">
                    <h6 class="user-title">For</h6>
                    <div class="user-body">
                        <div class="form-group">
                            <input type="radio" name="for">&nbsp;&nbsp;Sale<br>
                            <input type="radio" name="for">&nbsp;&nbsp;Lease<br>
                            <input type="radio" name="for">&nbsp;&nbsp;New
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix form-group ">
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm w-100" type="submit"><i class="fas fa-fw fa-save"></i> Save</button>
            </div>
            <div class="col-md-2">
                <a href="/boats" class="btn btn-warning btn-sm w-100"><i class="fas fa-fw fa-ban"></i> Cancel</a>
            </div>
        </div>
    </form>
</div>

<!-- Footer -->
<% include templates/footer.ejs %> 